

figure {
  margin:0;
}

img {
  display: block;
  width: 100%;
  -webkit-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.06);
          box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.06); 
  border: 3px solid #eee;
  transition: transform .4s; 
}

img:hover {
  transform: scale(1.1); 
}
 