.msgbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-content: center;
    background-color: #333;
    color: #eaeaea;
    min-height: 100px;
    width: 100%;
    position: fixed;
    padding:1em .7em .5em .7em;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    font-family: 'Nunito', sans-serif;
    font-size: calc(10px + 10 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap
}

.msgbar > div {
    width: 33%;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}


