.main {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2em;
  background-color: #fff;
  max-width: 1100px;
  border: 1px solid red;
  justify-content: center;
}


