
.footer {
    background-color: #2690d4;
    color: #fff;
    height: 100px;
    width: 100%;
    padding: 2rem 1.2rem .5rem 1.2rem;
    margin-top: 4em;
    text-align: center;
    -webkit-box-shadow: 14px 0 28px rgba(0, 0, 0, .25), 10px 0 10px rgba(0, 0, 0, .22);
    box-shadow: 14px 0 28px rgba(0, 0, 0, .25), 10px 0 10px rgba(0, 0, 0, .22);
    font-family: 'Nunito', sans-serif;
    font-size: calc(10px + 10 * (100vw - 320px)/ 800);
}

